<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="sidebar">
  <div class="container sidebar-sticky">
    <img class="sidebar-image" src="{{ site.url }}/assets/london.jpg" alt="London Headshot">
    <div class="sidebar-about">    
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.url }}">About Me</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/projects">Projects / Events</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/blog">Blog</a>
      <br>
      <br>
      <a class="sidebar-nav-item-icon">{% include social-media-links.html %}</a>
    </nav>
  </div>
</div>
